@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="spacer">
        <div class="row">
            <h2>Connectez-vous</h2>
            <form action="~/Membre/Login/seConnecter" method="post">
                <label>Login </label><input type="text" name="txtlogin"/> <span>*Champs requis</span>
                <br/>
                <label>Password</label><input type="password" name="txtpass" /> <span>*Champs requis</span>
                </br>
                <input type="submit" value="Confirmer" />
            </form>
        </div>
    </div>
</div>

